select
{
    width:120px;
    border: solid 1px rgb(202, 201, 201);
    border-radius: 4px;
}

label 
{
    border: 1px solid rgb(202, 201, 201);
    width: 100px;
    border-radius: 4px;
    padding: 4px;
} 
